$black: #000000;
$black04: rgba(4, 4, 4, 0.06);
$black30: rgba(4, 4, 4, 0.3);
$balticSea: #232226;
$balticSea40: rgba(35, 34, 38, 0.40);
$mineShaft: #2c2c2c;
$mineShaft50: rgba(44, 44, 44, 0.5);
$mineShaft25: rgba(44, 44, 44, 0.25);
$santasGray: #9f9fae;
$dustyGray: #959595;
$dolphin: #696774;
$woodsmoke : #101012;
$athensGray: #f0f0f2;
$concrete: #F2F2F2;
$white: #fff;
$white30: rgba(255, 255, 255, 0.3);
$white50: rgba(255, 255, 255, 0.5);
$outLine: rgba(255, 255, 255, 0.46);
$chetwodeBlue: #817ede;
$portage: #9996ef;
$mediumPurple: #736fde;
$butterflyBush: #54529C;
$purpleHeart: #6821B1;
$blueGem: #53139C;
$violet: #210D40;
$studio: #8E4BB7;
$butterflyBushLight: #AEACE7;
$whisper: #f1f2f8;
$boxShadow: rgb(183, 183, 183);
$creamCan: #F0D25F;
$flax: #ECD67D;
$alto: #d9d9d9;
$silver: #cacaca;
$prelude: rgba(206, 201, 232);
$prelude65: rgba(206, 201, 232, 0.65);
$heliotrope: #F582FF;
$whiteLilac: #F5F2FB;
$whisper: #E9E5F1;

$newYorkPink: #D97D74;
$matrix: #BB6259;


$portage2: #7999E2;
$indigo: #617EC1;

$aquaForest: #609A6F;
$killarney: #3C7049;

$greenSmoke: #A0B264;
$asparagus: #7F8F49;

$ronchi:#E8BF56;
$roti: #C7A03C;

$mulledWine: #4d4b6c;
$alto50: rgba(223, 223, 223, 0.5);
$mercury: #E9E9E9;
$whiteLilac: #F5F2FB;
$studio: #8E4BB7;
$eminence: #6D2F89;
$snuff: #E1DAEE;
$dingley: #668354;
$mountainMist: #A29BA8;
$wisteria: #A274B7;

